*{box-sizing:border-box;
margin:0;
padding:0;
}

body{
  background-color: #050B1A;
  color:#FFFFFF;
}

header{
  padding: 10px; 
  display:flex;
  flex-direction:row;
  height: 50px;;
  width:100%;
  gap: 130px;
  align-items: center;
}

h2{
    font-size: 23px;
}

main #banner #banner-texto a{
text-decoration: none;
color: white;
}

main #banner #banner-texto #explorar{
    width: 200px;
    background-color: #2563EB;
    border-radius: 15px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    list-style: none;
    
}

header nav ul li a:hover{
    color:#7C3AED;
}

header nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

main{
    padding: 20px;
}

#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    
}

#banner-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    font-size: 25px;
    gap: 20px;
}

#categorias{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#busca{
    border:none;
    background:none ;
    outline: none;
}

#buscador{
    background-color: #102342;
    display: flex;
    align-items: center;
}

#lista-categorias{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.categoria{
    border: solid 2px black;
    padding: 10px;
    width: 25%;
    margin: 5px;
    height: 200px;
    border-radius: 20px;
    font-size: 20px;
}

#videojuego{
    background-color: #102342;
}

#generos{
    background-color: #3C1F6E;
}

#populares{
    background-color: #60194E;
}

#jugadores{
    background-color: #08546B;
}

input[type="search"]{
    width:250px ;
    height: 25px;
    background-color: #102342;
    border: none;
    color: #FFFFFF;
}

header #formularios{
    display: flex;
    justify-content: space-between;
    width:auto;
    height:30px;
    color: #FFFFFF;
    font-size:15px;
    gap: 20px;

}

header #formularios a{
    text-decoration: none;
    color: white;
}

header #formularios a:hover{
    color:#7C3AED;
    border-radius: 15px;
}

#banner button{
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    border-radius: 15px;
    padding: 5px;
    background-color: #2563EB;
    color: #FFFFFF;
    font-size: 15px;
    gap: 7px;
}

.categoria .material-symbols-outlined{
    float: right;
}

.modal_admin{
    background-color: #050B1A;
    color: white;
}